* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(56, 15, 15);
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
#top-bar {
    display: flex;
    background-color: rgb(249, 227, 227);
    height: 18vh;
    font: 500 1.5rem arial;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    padding: 10px;
    color:  rgb(82, 0, 0);
    border-radius: 15px;
    box-shadow: inset 5px 10px 10px rgb(192, 79, 79);

}
#intro{
    max-width: 500px;
    width: 100%;
    margin-top: 50px;
    padding: 30px;
}

nav{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    background-color: rgb(56, 15, 15);
    text-align: center;
    border-radius: 0px 0px 50px 50px ;
    padding: 30px;
    box-shadow: 3px 10px 5px rgba(0, 0, 0, 0.331);
    box-shadow: inset 1px 10px 10px rgb(11, 1, 1);
}
nav > h4 {
    background-color: rgb(249, 227, 227);
    color: rgb(56, 15, 15);
}
nav > ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav > ul > li{
    gap: 50px;
    text-decoration: none;
    color: rgb(29, 3, 3);
  
}
nav > ul > li:hover{
    cursor: pointer;
    color: rgb(176, 80, 80);
}
a{
    text-decoration: none;
    color: antiquewhite;
}

main{
    background-color: rgb(195, 157, 157);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  
}

p{
    font: 300 1.5rem black;
    padding: 50px;

}
.user-data{
    height: 10vh;
    font: 400 1.2rem arial;
    color: aliceblue;
    background-color: rgb(82, 0, 0);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    border-radius: 30px;
    box-shadow: 10px 10px 10px rgb(31, 1, 1);
}

.container {
    max-width: 1000px;
    width: 100%;
    background-color: rgba(31, 1, 1, 0.695);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}

table {
    width: 100%;
}

table, th, td {
    border: solid rgba(0, 0, 0, 0.356);
    font: 600 2rem arial;
}

th, td {
    padding: 10px;
    text-align: center;
    color:  rgb(82, 0, 0);
}

th {
    background-color: rgba(128, 10, 8, 0.729);
    color: rgb(23, 1, 1);
}

tr:nth-child(even) {
    background-color: rgba(235, 109, 109, 0.498);

}

tr:nth-child(odd) {
    background-color: rgb(177, 117, 117);
}
.btn{                         
    margin: 20px;
    width: 10rem;
    background-color: rgb(201, 100, 100);
    border: none;
    height: 3vh;
    border-radius: 20px;
    box-shadow: inset 6px 8px 15px rgb(159, 24, 24);
    font-weight: 700;
    color: rgb(221, 225, 246);
}


article{
    max-width: 1500px;
    width: 100%;
    text-indent: 15px;
    font-size: 1.3rem;

}
h3 {
    font: 900 1.5rem arial;
    text-decoration: dashed;
    color: white;
}



form{
    background-color: #d84848a6;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    padding: 54px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.457);
}

form input{
    width: 500px;
    height: 50px;
    border-radius: 25px; 
    box-shadow: 3px 5px 10px black;
    border: none;
    background-color: rgb(50, 16, 16);
    color: wheat;
    font-size: 1.2rem;
    padding-left: 12px;
    border: none;

}
form input:focus{
    background-color: rgb(169, 109, 109);
    border: none;
    color: rgb(59, 21, 21);
    


}
form label {
    width: 100%;
    font: 500 1.7rem arial;
}
form button {
    box-shadow: 3px 5px 10px black;
    background-color: rgb(59, 17, 17);
    color: rgb(169, 109, 109) ;
    font: 700 1.2rem arial;
    padding: 20px;
    border-radius: 30px;



}
form button:hover {
    cursor: pointer;
    background-color:rgb(169, 109, 109);
    color:  rgb(59, 17, 17) ;

}
header{
    align-self: auto;
    width: 100%;
    display: flex;
    background-color: rgb(59, 17, 17);
    color: aliceblue;
    text-align: center;
    height: 8vh;
    align-items: center;
    justify-content: center;
}
#atv06{
    display: flex;
    flex-direction: column;
    margin: 200px;
    background-color: rgb(213, 129, 129);
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(165, 17, 17);


}
#atv06 input{
    width: 400px;
    height: 4vh;

    border-radius: 20px;
    background-color: rgb(39, 4, 4);
}
#atv06 input{
    width: 400px;
    height: 4vh;
    
    border-radius: 20px;
    background-color: rgb(36, 4, 4);
}
.list_tree_number{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;

}
.list_tree_number > li {
    font: 900 5rem arial;
    background-color: rgb(22, 16, 16);
    color: wheat;
    padding: 20px;
    border-radius: 30px;
    text-shadow: 3px 3px 5px rgb(99, 5, 5);
    box-shadow: inset 1px 1px 10px rgb(100, 91, 91);


}


#convert{
    display: flex;
    margin: 20px;
    gap: 20px;
}

#convert input{
    width: 140px;
    height: 50px;
    border: none;
}

#atv09_10{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 20px;
}

.input_container_row{
    display: flex;
    flex-direction: row;
}
.input_container_row input {
    width: 200px;
}

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 20px;

}

select {
    
    margin: 30px;
    font: 500 1.2rem arial;
    color: rgb(224, 214, 214);
    width: 300px;
    padding: 2px;
    background-color: rgb(33, 11, 11);
}